body {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
}

nav {
  background-color:rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
  text-decoration: none;
}


.right:link {color: blue; } /* unvisited */
.right:visited { color:purple; } /* visited */
.right:hover { color:pink; } /* mouse over */
.right:active { color:red; }


ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

.container h1 {
  font-size: 3em;
}

.container h3 {
  font-size: 1.25em;
}

.author {
  font-size:1.5em;
}

.story-text p {
  line-height: 1.75em;

}
