body {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  width: 100%;
}

nav {
  background-color:rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left {
  float: left;
  width: 50%;
}

.right a {
  float: right;
  text-decoration: none;
}


.right a:link {
  color: blue;
}

.right a:visited {
  color:yellow;
}
.right a:hover {
  color: pink;
}

.right a:active {
  color:red;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

.container h1 {
  font-size: 3em;
  margin-bottom:1%;
  font-weight: bold;
}

.container h3 {
  font-size: 1.25em;
  margin-bottom: 3%;
}

.author {
  font-size:1em;
  margin-bottom:7%;
  font-weight: bold;
}

.story-text p {
  line-height: 1.75em;
  margin-bottom: 2%;
}

figure figcaption {
  font-weight: lighter;
  font-size: .75em;
  margin-bottom: 3em;
}
